.section4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popup_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 95%;
  max-width: 1500px;
}

.popup_boxes>div {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.popup_tiles {
  width: 100%;
  aspect-ratio: 24 / 17;
}

.section4 h1 {
  color: var(--background_color);
  font-size: 32px;
  width: 90%;
}

.section4 h2 {
  font-size: 17px;
  color: #000;
}

@media (min-width: 768px) {
  .popup_boxes {
    gap: 16px;
  }
}

@media (min-width: 1024px) {
  .popup_boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}