.footer {
  width: 100%;
  max-width: 320px;
  color: #000;
}

.footer_logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer_logo p {
  font-size: 8px;
  width: 300px;
  padding-left: 10px;
}

.footer_content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_menu {
  margin-top: 10px;
  width: 90%;
  height: 160px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto repeat(9, 1fr);
  gap: 10px;
  padding: 0 20px;
  font-size: 6px;
  font-family: 'Inter', sans-serif;
}

.footer_title {
  font-weight: bold;
  font-size: 10px;
}

.footer_item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_item li {
  padding: 5px 0;
  line-height: 1;
}

.footer h3 {
  font-size: 5px;
  text-align: center;
}

.footer hr {
  width: 95%;
  border: 0.5px solid #0000004f;
}

@media (min-width: 768px) {
  .footer {
    max-width: 768px;
  }

  .footer_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .footer_logo {
    display: block;
    width: 20%;
    margin-left: 10px;
  }

  .footer_logo p {
    font-size: 8px;
    width: 150px;
    padding-left: 0;
  }

  .footer_menu {
    width: 80%;
    height: 200px;
    font-size: 10px;
  }

  .footer h3 {
    font-size: 8px;
  }
}

@media (min-width: 1024px) {
  .footer {
    max-width: 1024px;
    transform: scale(1.15);
    transform-origin: top;
  }
}