.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  overflow: hidden;
  z-index: 1000;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.264);
  font-family: "Calibri", sans-serif;
  /* box-shadow: black 0px 0px 10px; */
}

.navbar_logo {
  margin-left: 5px;
  margin-right: auto;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  display: none;
  width: 60%;
  max-width: 1000px;
  justify-content: center;
  gap: 3%;
}

.title_menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-size: 12px;
  color: black;
  padding: 20px 0 20px 0;
  font-family: "Calibri", sans-serif;
  font-weight: 600;
}

.navbar-item {
  display: none;
  position: relative;
  cursor: pointer;
  padding: 0 1em;
}

.navbar_side_menu {
  display: flex;
  justify-content: end;
  width: fit-content;
}

.navbar_side_menu a {
  text-align: center;
}

.navbar_login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
  width: 70px;
  /* background-color: aqua; */
}

.navbar_button {
  display: none;
}

.Hamburger_menu {
  display: block;
  right: 10px;
}
@media (min-width: 820px) {
  .navbar {
    height: 60px;
    width: 90vw;
    display: flex;
    justify-content: center;
  }

  .navbar-menu {
    padding: 0;
    display: flex;
  }

  .navbar-item {
    display: block;
  }

  .Hamburger_menu {
    display: none;
  }

  .navbar_button {
    display: block;
  }

  .navbar_logo {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .navbar {
    width: 80vw;
  }
}
