.App {
  font-family: "Krona One", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  /* display: flex;
  justify-content: center; */
}

header {
  height: auto;
  display: flex;
  justify-content: center;
}